* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.8rem;
    color: #262626;
}


$color-primary-1: #e6fffb;
$color-primary-2: #b5f5ec;
$color-primary-3: #13c2c2;
$color-primary-3: #08979c;
$color-primary-4: #006d75;