.to-do-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgba($color-primary-1, .5);
    border: 1px solid #f0f0f0;
    &:hover  {
        background-color: rgba($color-primary-2, .4);
    }

    &__left {
        display: flex;
        align-items: center;
    }
    &__check {
        cursor: pointer;
        margin-right: 1rem;
        font-size: 3rem;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        color: #d9d9d9;
        &.checked {
            // background-color: #52c41a;
            background-color: $color-primary-3;
            font-weight: bold;
        }
    }
    &__delete {
        cursor: pointer;
        font-size: 2.5rem;
        color: #8c8c8c;
        margin-left: 1rem;
        &:hover {
            color: $color-primary-3;
        }
    }
}